:root {
  /* CSS HEX */
  --vanilla: #f3e7cc; /* dominant background color / text color on browns */
  --cerulean: #006f87ff; /* main color for text */
  --non-photo-blue: #9dcecfff;
  --moss-green: #939d5fff; /* accent color / button colors*/
  --hunter-green: #3b562bff;
  --lion: #cca36fff;
  --gamboge: #f09912ff;
  --brown: #a24509ff;
  --dim-gray: #616667ff;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--vanilla);
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  background-color: var(--moss-green);
  height: 3.5rem;
}

header button {
  background-color: var(--hunter-green);
  color: var(--vanilla);
  font-size: larger;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
}

main {
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gamboge);
  margin: auto;
  gap: 30px;
}

p {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  color: var(--cerulean);
  margin: 40px 0;
}

input {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  margin: auto;
  min-width: 65vw;
  box-shadow: 0px 0px 25px var(--hunter-green);
}

.no-results-found {
  color: #721c24;
  background-color: #f8d7da;

  padding: 10px 40px;
  border-radius: 15px;
}

.suggestions {
  background-color: white;
  color: var(--dim-gray);
  min-width: 60vw;
  border-radius: 15px;
  padding: 10px 15px;
  margin: auto;
  position: relative;
  bottom: 25px;
  transition: margin-right 2s ease-in-out;
}

.search-button {
  display: block;
  background-color: var(--gamboge);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

img {
  width: 200px;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px var(--hunter-green);
}
